@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family:'Yanone Kaffeesatz', sans-serif;
  background-color:#CDD1DD;
}
#navbar ul {
  font-size:1.2em;
  margin:0;
  padding:0;
  list-style-type: none;
  background-color: #F27031;
  overflow:hidden;
  box-shadow: 0 0.1em 0.1em lightslategray;
}
#navbar li {
  float:right;
}
#navbar a{
  text-align:center;
  font-family:'Baloo Bhaina', cursive;
  color:white;
  text-decoration: none;
  padding: 8px;
  display:block;
  width: 120px;
  background-color:#F27031;
  border-left:1px solid #BE5830;
}
#navbar a:hover{
  color:white;
  background-color: #BE5830;
}
#navbar-logo a{
  color:#46332D;
  font-size:1.5em;
  font-family:'Lobster',sans-serif;
  font-weight:bold;
  padding-left: 2em;
  text-shadow: 0.1em 0.1em 0.1em rgba(40, 40, 40, 0.5);
}
li#navbar-logo {

  float: left;
}
li#navbar-logo a:hover{
  color:#46332D;
  background-color:inherit;
}
h1 {
  color:#7A3935;
  padding:0;
  margin: 0;
  text-align:center;
  font-weight:bold;
  font-size: 2.5em;
}
.logo {
  font-family: Lobster;
}
article {
  font-size:1.5em;
  padding:1.5em;
  background-color:#FAFAFB;
  margin: 0.5em 20%;
  border-radius:0.5em;
  box-shadow: 0.1em 0.1em 0.1em lightslategray;
  text-align:justify;
}
